[line_break]
disabled = false

[username]
format = "[$user]($style) "
disabled = false
show_always = false

[hostname]
disabled = true

[directory]
disabled = false

[cmd_duration]
min_time = 10000

# Don't guess languages dummy
[python]
disabled = true
[nodejs]
disabled = true
[ruby]
disabled = true
[golang]
disabled = true
