
# right side prompt
right_format = """$directory"""

[line_break]
disabled = true

[username]
format = "[$user]($style) "
disabled = false
show_always = false

[hostname]
disabled = true

[directory]
disabled = false
truncation_length = 0

[cmd_duration]
min_time = 10000

# Don't guess languages dummy
[python]
disabled = true
[nodejs]
disabled = true
[ruby]
disabled = true
[golang]
disabled = true
